<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand text-white text-center w-100" >Sortize</a>
</nav>
<div class="container-fluid d-flex w-100 h-100 p-3 mx-auto flex-column">
  <div class="w-100">
    <div class="row">
      <div class="col">
          <div class="row">
          <div class="col">
              <label class="font-weight-bold"> Speed : {{speed}} ms</label>
              <input [attr.disabled]="readyToRun? null:true" (change)="setSpeed()" [(ngModel)]="speed" type="range" class="custom-range" min="5" max="500" step="5" id="speed">
          </div>
          <div class="col">
              <label class="font-weight-bold"> Array Size : {{arraySize}}</label>
              <input [attr.disabled]="readyToRun? null:true" (change)="generateArray()" [(ngModel)]="arraySize" type="range" class="custom-range" min="10" max="500" step="10" id="arraySize">
          </div>
          </div>

      </div>
      <div class="col">
        <div class="btn-group w-100" role="group">
          <button [attr.disabled]="readyToRun? null:true" (click)="selectAlog($event)" id="Insertion" type="button" class="btn btn-outline-primary">Insertion Sort</button>
          <!-- <button [attr.disabled]="readyToRun? null:true" (click)="selectAlog($event)" id="Quick" type="button" class="btn btn-outline-primary">Quick Sort</button> -->
          <button [attr.disabled]="readyToRun? null:true" (click)="selectAlog($event)" id="Selection" type="button" class="btn btn-outline-primary">Selection Sort</button>
          <button [attr.disabled]="readyToRun? null:true" (click)="selectAlog($event)" id="Bubble" type="button" class="btn btn-outline-primary">Bubble Sort</button>
        </div>

      </div>
      <div class="col">
          <button [attr.disabled]="ready && readyToRun? null:true" type="button" class="btn btn-danger btn-block" (click)="sort()">{{readyText}}</button>
      </div>



    </div>


  </div>

  <div class="container h-100">
      <app-bar-chart></app-bar-chart>
  </div>
</div>

